body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 12.5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #26268d;
    text-align: center;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* .sidenav a {
    text-transform: uppercase;
    padding: 2.5em 2.5em 0.5em 2.5em ;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
  }
  
  .sidenav a:hover {
    text-transform: uppercase;
    color: #4080aa;
  } */
  
  .main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .buttona{
    position: absolute;
    bottom: 71%;
    left: 0%;
  }

  .buttonb{
    position: absolute;
    bottom: 57%;
    left: 0%;
  }

  .buttonc{
    position: absolute;
    bottom: 43%;
    left: 0%;
  }

  .buttond{
    position: absolute;
    bottom: 29%;
    left: 0%;
  }

  .buttona, .buttonb, .buttonc, .buttond {
    background-color: #26268d;
    width: 250px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 21px;
    margin: 4px 2px;
    opacity: 1.0;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .buttona:hover, .buttonb:hover, .buttonc:hover, .buttond:hover {
    background-color: #3131b5;
  }

  .pageNotFound{
    margin-bottom: 40%;
    text-align: center;
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }